<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web Notifier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        .notificationForm input[type="text"] {
            width: 300px;
        }
        .error {
            color: red
        }
    </style>
</head>
<body>

    <div th:if="*{created}">
        <h3>Notification request was created!</h3>

        <strong>Email:</strong> <span th:utext="*{user.email}" /> <br />
        <strong>Url:</strong> <span th:utext="*{notificationRequest.url}" /> <br />
        <strong>Css Selector:</strong> <span th:utext="*{notificationRequest.cssSelector}" /> <br />
        <strong>Content:</strong> <span th:utext="*{notificationRequest.content}" /> <br />

        <br />
        <a th:href="@{/notification}">Create a new one</a>
    </div>

    <div th:unless="*{created}">
        Please enter your notification request:
        <br />

        <form action="#" th:action="@{/notification}" method="post" class="notificationForm">
            <p>
                Email: <input type="text" th:field="*{user.email}" name="user.email" />
                <span class="error" th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}">&nbsp;</span>
            </p>
            <p>
                Url: <input type="text" th:field="*{notificationRequest.url}" name="notificationRequest.url" />
                <span class="error" th:if="${#fields.hasErrors('notificationRequest.url')}" th:errors="*{notificationRequest.url}">&nbsp;</span>
            </p>
            <p>
                Css Selector: <input type="text" th:field="*{notificationRequest.cssSelector}" name="notificationRequest.cssSelector" />
                <span class="error"
                      th:if="${#fields.hasErrors('notificationRequest.contentOrCssSelectorPresent')}"
                      th:errors="*{notificationRequest.contentOrCssSelectorPresent}"
                >
                    &nbsp;
                </span>
            </p>
            <p>
                Content: <input type="text" th:field="*{notificationRequest.content}" name="notificationRequest.content" />
            </p>

            <p><input type="submit" value="Submit" /></p>
        </form>
    </div>

</body>
</html>