<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web Notifier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <div th:if="*{created}">
        <div>Notification request was created!</div>

        Email: <span th:utext="*{user.email}" /> <br />
        Css Selector: <span th:utext="*{notificationRequest.cssSelector}" /> <br />


        <br />
        <a th:href="@{/notification}">Create a new one</a>
    </div>

    <div th:unless="*{created}">
        Please enter your notification request test 5
        <br />

        <form action="#" th:action="@{/notification}" method="post">
            <p>Email: <input type="text" th:field="*{user.email}" name="user.email" /></p>
            <p>Css Selector: <input type="text" th:field="*{notificationRequest.cssSelector}" name="notificationRequest.cssSelector" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>

        <br />
        URL: <input type="text" name="url" />

        <br />
        <p th:text="'Hello, ' + ${name} + '!'" />
    </div>

</body>
</html>